.inner {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.gradient {
  background: linear-gradient(90deg, #F78DA7, #DA2C91, #FDAF75);
}

/* 서브공통 */
.subContent {
  padding: 70px 20px 110px 20px;
}
.pointColor01 {
  color: #F4313F !important;
}
.desc h2.pointColor02, .desc h3.pointColor02 {
  color: #B31C45;
  font-size: clamp(24px, 3vw, 38px);
}   
.sub .subNav.inner {
  padding: 0 20px;
  padding-top: clamp(20px, 5vw, 70px);
}
.sub .subTitle-box {
  background-image: url(/images/common/subBg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  background-size: cover;
}
.sub .subTitle-box .subTitle {
  font-size: 46px;
  text-align: center;
  padding-top: 100px;
}
.sub .flex-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}
.sub .bgBox {
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  /* padding: 70px 74px; */
  padding: clamp(20px, 5vw, 70px) clamp(30px, 6vw, 74px);
  flex: 1;
}


.sub .bgBox-title {
  color: #B31C45;
  border-bottom: 1px solid #B31C45;
  margin-bottom: 20px;
  line-height: 2;
  font-size: 24px;
}
.sub .sub-radius {
  border-radius: clamp(20px, 5vw, 70px) clamp(20px, 5vw, 70px) 0 0;
  background-color: #FEFEFE;
  margin-top: -100px;
  width: 100%;
  background-image: url(/images/common/subContentBg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
/* 네비게이션 */
.sub .subNav {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.sub .subNav span {
  color: #ACACAC;
  font-weight: 500;
  font-size: 16px;
}

/* 메인, 서브 공통 주의사항 */
.caution ul {
  padding-left: 0; 
}
.caution li {
  position: relative;
  padding-left: 20px;
  color: #FF5972;
  font-size: 16px;
}
.caution li::before {
  content: '❖';
  position: absolute;
  left: 0;
  color: #FF5972; /* 원하는 색상 */
  font-family: 'Pretendard';
  line-height: 1.6;
}


/*  타이틀 반원 스타일 (참조: /guide/recruit) */
/* .sub .title-earea {
  position: relative;
} */
.sub .halfCircle {
  position: relative;
  left: 0px;
  top: clamp(20px, 4vw, 70px);
  max-width: clamp(50px, 7vw, 150px);
}
.sub .recruit-title {
  font-size: clamp(24px, 3vw, 56px);
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}


@media (max-width: 768px) {
  br.mob {
    display: block;
  }
  .subContent {
    padding: 30px 20px 50px 20px;
  }
  .sub .subTitle-box {
    background-image: url(/images/common/subBgMob.jpg);
    min-height: 210px;
  }
  .sub .subTitle-box .subTitle {
    font-size: 36px;
    padding-top: 50px;
  }
  .sub .subNav span {
    font-size: 14px;
  }
  .sub .subNav {
    gap: 15px;
  }
  .sub .flex-container {
    gap: 20px;
    flex-direction: column;
  }
  .sub .contents-container.mt-70 {
    margin-top: 30px;
  }
  .sub .bgBox-title {
    font-size: 20px;
  }
  .sub .sub-radius {
    margin-top: -70px;
  }
  .sub .caution li {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  br.smob {
    display: block;
  }
}